/* Réinitialiser les marges et le padding par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style du header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 40px;
    background: #FFFFFF;
}

/* Logo ou titre du site */
h1 {
    font-family: 'Inter', serif;
    font-style: normal;

    font-weight: 500;
    font-size: 20px;
    color: #000000;
    line-height: 150%;

}

/* Style du conteneur de navigation */
nav {
    display: flex;
    width: 593px;
    height: 30px;
    gap: 30px;
}

/* Style des liens de navigation */
nav a {
    font-family: 'Inter', serif;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    line-height: 150%;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}
/* Styles spécifiques pour chaque lien */
nav a[href="/transaction"] {
    width: 98px;
}

nav a[href="/profil"] {
    font-weight: 700;
    color: #207FEE;
    width: 52px;
}
nav a[href="/addRelation"] {
    width: 147px;
}
nav a[href="/logout"] {
    width: 152px;
}

/* Effet de survol */
nav a:hover {
    background-color: #f0f0f0;
}

/* Général */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
}

/* Conteneur principal */
.profile-container {

    width: 749px;
    height: 740px;
    margin-top: 240px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

/* Chaque groupe de formulaire */
.profile-item {
    display: flex;
    align-items: center; /* Aligne verticalement les éléments */
    gap: 15px; /* Espacement entre les éléments (label, input, icône) */
    margin-bottom: 15px; /* Espacement entre les lignes */
}


/* Dernier élément sans bordure */
.profile-item:last-child {
    border-bottom: none;
}

/* Hover effect */
.profile-item:hover {
    background-color: #ffffff;
}

/* Les labels */
.label {
    width: 150px; /* Largeur fixe pour aligner tous les labels */
    text-align: left; /* Aligne le texte à droite */
    font-size: 16px;
    font-weight: bold;
}



.modif-button {
    cursor: pointer; /* Change le curseur pour indiquer que l'image est cliquable */
    width: 147px; /* Ajustez la taille selon vos besoins */
    height: 64px;
    margin-left: 15px;
}

input {

    font-family: 'Inter', sans-serif;
    outline: none;
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 4px;
    transition: border-color 0.3s, box-shadow 0.3s;
}


input[type="text"], input[type="email"], input[type="password"] {

}


