
@font-face {
    font-family: 'MyCustomFont';
    src: url('../fonts/Inter.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 40px;
    background: #FFFFFF;
}


h1 {
    font-family: 'Inter',Arial, sans-serif;
    font-style: normal;

    font-weight: 500;
    font-size: 20px;
    color: #000000;
    line-height: 150%;

}

nav {
    display: flex;
    width: 593px;
    height: 30px;
    gap: 30px;
}

nav a {
    font-family: 'Inter',Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    line-height: 150%;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav a[href="/transaction"] {
    width: 98px;
}

nav a[href="/profile"] {
    font-weight: 700;
    color: #207FEE;
    width: 52px;
}
nav a[href="/addRelation"] {
    width: 147px;
}
nav a[href="/logout"] {
    width: 152px;
}


nav a:hover {
    background-color: #f0f0f0;
}


body {
    font-family: 'Inter',Arial, sans-serif;
    background-color: #ffffff;
}


.profile-container {

    width: 749px;
    height: 740px;
    margin-top: 240px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}


.profile-item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}


.profile-item:last-child {
    border-bottom: none;
}

.profile-item:hover {
    background-color: #ffffff;
}

.label {
    width: 150px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}

.modif-button {
    cursor: pointer;
    width: 147px;
    height: 64px;
    margin-left: 15px;
}

input {

    font-family: 'Inter',Arial, sans-serif;
    outline: none;
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 4px;
    transition: border-color 0.3s, box-shadow 0.3s;
}


input[type="text"], input[type="email"], input[type="password"] {
    font-family: 'Inter',Arial, sans-serif;

}


.chevron-right
{
    border: none;
    background: none;

}