/* Réinitialiser les marges et le padding par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style du header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 40px;
    background: #FFFFFF;
}

/* Logo ou titre du site */
h1 {
    font-family: 'Inter', serif;
    font-style: normal;

    font-weight: 500;
    font-size: 20px;
    color: #000000;
    line-height: 150%;

}

/* Style du conteneur de navigation */
nav {
    display: flex;
    width: 593px;
    height: 30px;
    gap: 30px;
}

/* Style des liens de navigation */
nav a {
    font-family: 'Inter', serif;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    line-height: 150%;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}
/* Styles spécifiques pour chaque lien */
nav a[href="/transaction"] {
    width: 98px;
}

nav a[href="/profil"] {

    width: 50px;
}
nav a[href="/addRelation"] {
    width: 153px;
    font-weight: 700;
    color: #207FEE;
}
nav a[href="/logout"] {
    width: 152px;
}

/* Effet de survol */
nav a:hover {
    background-color: #f0f0f0;
}

body{

}

/* Conteneur principal */
.conteneur {
    width: 946px;
    height: 300px;
    display: flex; /* Active Flexbox */
    align-items: center; /* Aligne verticalement tous les éléments internes */
    gap: 8px; /* Espace entre l'input group et l'image */
    margin: auto; /* Centre horizontalement le conteneur */
}

/* Groupe du label et de l'input */
.relation-group {
    display: flex;
    flex-direction: column; /* Empile le label et l'input verticalement */
    align-items: flex-start;
    margin-left: 20%;
    gap: 8px; /* Espace entre le label et l'input */

}

/* Style du label */
.label {
    width: 484px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
}

/* Style de l'input */
input {
    width: 484px; /* Prend toute la largeur disponible dans le groupe */
    height: 54px;
    padding: 16px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Conteneur pour l'image */
.add-button {
margin-top: 1%;
}

/* Style de l'image */
.modif-button {
    width: 151px; /* Taille de l'image */
    height: 62px;
    cursor: pointer; /* Indique que l'image est cliquable */
}
