@font-face {
    font-family: 'MyCustomFont';
    src: url('../fonts/Inter.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 40px;
    background: #FFFFFF;
}

h1 {
    font-family: 'Inter',Arial, sans-serif;
    font-style: normal;

    font-weight: 500;
    font-size: 20px;
    color: #000000;
    line-height: 150%;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    font-family: 'Inter',Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav a[href="/transaction"] {
    font-weight: 700;
    color: #207FEE;
}


nav a:hover {
    background-color: #f0f0f0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 182px;
}

.container-center {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 182px;
}

.dropdown-description-container {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 20px;
    position: absolute;
    top: 239px;
}

.dropdown-select {
    appearance: none;
    width: 399px;
    height: 81px;
    padding: 16px;
    font-size: 24px;
    font-family: 'Inter',Arial, sans-serif;
    color: #333;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: right 16px center;
    cursor: pointer;
    background-image: url('/image/transactionPage/chevron-down.svg');
    margin-right: 42px;
}

.description-field {
    width: 382px;
    height: 81px;
    padding: 24px 16px;
    font-size: 24px;
    font-family: 'Inter',Arial, sans-serif;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    resize: none;
    overflow-y: auto;
    margin-right: 42px;
}

.amount-input {
    width: 189px;
    height: 121px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    font-family: 'Inter',Arial, sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 89px;
}

.amount-input input[type="number"] {
    width: 157px;
    height: 24px;
    font-size: 24px;
    color: #000000;
    padding: 8px;
    border: 0px solid #E0E0E0;
    border-radius: 4px;
    text-align: center;
    background: #FFFFFF;

}

.amount-input .chevron-down {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 16px;
    top: 70%;
    transform: translateY(-50%) rotate(0deg);

}

.amount-input .chevron-up {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 16px;
    top: 30%;
    transform: translateY(-50%) rotate(180deg);

}



.amount-input input[type="number"]::-webkit-outer-spin-button,
.amount-input input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.amount-input input[type="number"] {
    -moz-appearance: textfield;
}

.icon-button {
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    background-color: #207FEE;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.icon-button img {
    width: 120px;
    height: 88px;
    object-fit: contain;
}


.transTable
{
    font-family: 'Inter',Arial, sans-serif;

    display: flex;
    justify-content: center;
    width: 1311px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.04));
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}


caption {
    font-family: 'Inter',Arial, sans-serif;
    caption-side: top;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    text-align: left;
    margin-top: 24px;
    margin-left: 19px;
}

tr {
    display: flex;
    width: 1263px;

}

.table-relation {
    width: 40%;
    font-family: 'Inter',Arial, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    text-align: left;
    padding: 15px;
}

.table-description {
    width: 40%;
    font-family: 'Inter',Arial, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    text-align: justify;
    padding: 15px;
}

.table-montant {
    width: 20%;
    font-family: 'Inter',Arial, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    text-align: right;
    padding: 15px;
}

#transactionsTable td:nth-child(1) {
    font-family: 'Inter',Arial, sans-serif;
    width: 40%;
    font-size: 24px;
    border-top: 1px solid #E0E0E0;
    height: 60px;

    padding: 15px;
}

#transactionsTable td:nth-child(2) {
    font-family: 'Inter',Arial, sans-serif;
    width: 40%;
    font-size: 24px;
    border-top: 1px solid #E0E0E0;
    height: 60px;
    padding: 15px;
}

#transactionsTable td:nth-child(3) {
    font-family: 'Inter',Arial, sans-serif;
    width: 20%;
    text-align: right;
    font-size: 24px;
    border-top: 1px solid #E0E0E0;
    height: 60px;
    padding: 15px;
}

.successMessage
{
    color: green;
    font-family: 'Inter',Arial, sans-serif;
    width: 300px;
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.errorMessage
{
    color: red;
    font-family: 'Inter',Arial, sans-serif;
    width: 300px;
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}