<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relation</title>
    <link rel="stylesheet" th:href="@{/css/addRelationPage.css}">
</head>
<div id="userId" th:data-user-id="${userId}"></div>
<header>
    <h1>Pay My Buddy</h1>
    <nav>
        <a th:href="@{/transaction}" th:classappend="${activePage == 'transfere' ? 'active' : ''}">Transférer</a>
        <a th:href="@{/profile}" th:classappend="${activePage == 'profil' ? 'active' : ''}">Profil</a>
        <a th:href="@{/addRelation}" th:classappend="${activePage == 'addRelation' ? 'active' : ''}">Ajouter
            relation</a>
        <a th:href="@{/logout}">Se déconnecter</a>
    </nav>
</header>
<body>
<form th:action="@{/add}" method="post">
    <div class="conteneur">
        <!-- Label + input -->
        <div class="relation-group ">
            <input type="hidden" name="userId" th:value="${userId}">
            <label for="email" class="label">Chercher une relation</label>
            <input type="email" id="email" name="email" placeholder="Saisir une adresse mail." required>
        </div>


        <button type="submit" id="addButton" class="add-button" >
            <img th:src="@{/image/addRelationPage/Button-New.svg}" th:alt="ajouter" th:title="@{Ajouter une relation}">
        </button>


        <div th:if="${successMessage}" style="color: green;">
            <p th:text="${successMessage}"></p>
        </div>
        <div th:if="${errorMessage}" style="color: red;">
            <p th:text="${errorMessage}"></p>
        </div>

    </div>

</form>
</body>
</html>