<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Register Page with SVG Input Fields</title>
    <link th:href="@{/css/register.css}" rel="stylesheet">
    <style>


    </style>
</head>
<body>
<!-- Le cadre SVG téléchargé -->
<div class="frame-container">
    <img th:src="@{/image/loginPage/Rectangle_1.svg}" alt="Cadre de connexion">

    <!-- Logo placé au-dessus du formulaire -->
    <img th:src="@{/image/loginPage/00_Button.svg}" alt="Logo" class="logo">

    <!-- Contenu du formulaire -->
    <div class="content-container">
        <form th:action="@{/api/register}" method="post">
            <div>
                <input type="text" id="username" name="userName" placeholder="Nom d'utilisateur" required>
            </div>
            <div>
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <div>
                <input type="password" id="password" name="password" placeholder="Mot de passe" required>
            </div>
            <div>
                <button type="submit" class="register-button">
                    <img th:src="@{/image/registerPage/02_Button.svg}" alt="S'inscrire">
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
