<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="Register"></title>
    <link th:href="@{/css/register.css}" rel="stylesheet">
    <style>


    </style>
</head>
<body>
<div class="frame-container">

    <button class="logo" onclick="window.location.href='/login'">
        <img th:src="@{/image/loginPage/00_Button.svg}" alt="Logo" th:title="@{Pay my buddy}">
    </button>
        <form th:id="registerForm" th:action="@{/register}" method="post">

                <input class= "username-input" type="text" id="username" name="userName" placeholder="Username" required>

                <input class= "mail-input" type="email" id="email" name="email" placeholder="Email" required>

                <input class= "password-input" type="password" id="password" name="password" placeholder="Mot de passe" required>

            <div th:if="${successMessage}" class="successMessage">
                <p th:text="${successMessage}"></p>
            </div>
            <div th:if="${errorMessage}" class="errorMessage">
                <p th:text="${errorMessage}"></p>
            </div>

            <button  type="submit" class="register-button">
                    <img th:src="@{/image/registerPage/02_Button.svg}" alt="S'inscrire" th:title="@{Inscription}">
                </button>

        </form>
</div>
</body>
</html>
