<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="Transaction">Pay My Buddy</title>
    <link rel="stylesheet" th:href="@{/css/transactions.css}">

</head>
<body>
<header>
    <h1>Pay My Buddy</h1>
    <nav>
        <a th:href="@{/transaction}" th:classappend="${activePage == 'transfere' ? 'active' : ''}">Transférer</a>
        <a th:href="@{/profile}" th:classappend="${activePage == 'profil' ? 'active' : ''}">Profil</a>
        <a th:href="@{/addRelation}" th:classappend="${activePage == 'addRelation' ? 'active' : ''}">Ajouter
            relation</a>
        <a th:href="@{/logout}">Se déconnecter</a>
    </nav>
</header>
<div id="userId" th:data-user-id="${userId}"></div>

<main>

    <form id="transactionForm" th:action="@{/create}" method="post">
        <div class="container-center">
            <div class="dropdown-description-container">

                <div class="dropdown-container">
                    <input type="hidden" name="senderId" th:value="${userId}">
                    <select id="relationSelect" name="receiverId" class="dropdown-select" required>
                        <option value="" disabled selected>Sélectionner une relation</option>
                        <option th:each="p : ${relationUserList}"
                                th:value="${p.id}"
                                th:text="${p.name}">
                        </option>
                    </select>
                </div>

                <div class="description-container">
                    <textarea id="description" name="description" class="description-field" placeholder="Description"
                              maxlength="250"></textarea>
                </div>

                <div class="amount-input">
                    <input type="number" id="amount" name="amount" min="0" max="9999" step="1" placeholder="0" required>
                    <img th:src="@{/image/transactionPage/chevron-down.svg}" alt="Chevron Down" class="chevron-down" th:title="@{Diminuer}">
                    <img th:src="@{/image/transactionPage/chevron-down.svg}" alt="Chevron Up" class="chevron-up" th:title="@{Augmenter}">
                </div>

                <div class="button-paye">
                    <button type="submit" class="icon-button">
                        <img th:src="@{/image/transactionPage/03_Button.svg}" alt="Payer" th:title="@{Payer un ami}">
                    </button>
                </div>
        </div>
        </div>
    </form>
    <div th:if="${successMessage}" class="successMessage" style="">
        <p th:text="${successMessage}"></p>
    </div>

    <div th:if="${errorMessage}" class="errorMessage" style="color: red;">
        <p th:text="${errorMessage}"></p>
    </div>


    <div class="transTable">

        <table id="transactionsTable" >
            <caption>Mes Transactions</caption>
            <thead>
            <tr>
                <th class="table-relation"> Relations</th>
                <th class="table-description">Description</th>
                <th class="table-montant">Montant</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transaction : ${transactionList}">
                <td th:text="${transaction.receiverName != null && transaction.receiverName == currentUsername
                      ? (transaction.senderName != null ? transaction.senderName : 'Inconnu')
                      : (transaction.receiverName != null ? transaction.receiverName : 'Inconnu')}">
                </td>

                <td th:text="${transaction.description != null ? transaction.description : 'Aucune description'}"></td>

                <td th:text="${transaction.amount != null ? transaction.amount / 100 + ' €' : '0 €'}"></td>
            </tr>
            </tbody>

        </table>

    </div>
</main>
 <script type="module" th:src="@{/js/transaction.js}"></script>
</body>
</html>
